extends ./elementos.jade
block index
  tr
    td(align='center')
      img(src='http://www.noticiasrcn.com/news/static/newsletterclose.jpg', alt='Noticias RCN', width='512', height='58', usemap='#Map5', target='_blank')
      map(name='Map5')
        area(shape='rect', coords='413,17,438,40', href='https://www.facebook.com/NoticiasRCN/', target='_blank')
        area(shape='rect', coords='446,17,468,38', href='https://twitter.com/noticiasrcn', target='_blank')
        area(shape='rect', coords='481,16,503,39', href='https://plus.google.com/u/0/110290893255948948760', target='_blank')
